<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Key</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<div class="contan">

    <h1 class="center">Use this key and make a first request to our server!</h1>

    <h2 class="api">API KEY: <%= apikey %></h2>


    <div class="info">
    <a href="/" class="btn btn-danger btn-lg">Home</a>
    </div>
  </div>


  </body>
</html>
