<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<div class="contan">
  <div class="weather-container">
      <h1 class="center">Documentation</h1>
    <p class="center" style="font-size:25px;">We provide weather data for any town, city and place in the world.<br />
    </p>
    <p class="center" style="font-size:20px;text-align:left;margin-left:0%;">You can access our API on this address <br /> >> http://localhost:3000/getweather/city?city={CITY_NAME}&?apikey={API_KEY}</p>







<div class="info">

<a href="/login" class="btn btn-dark btn-lg">Get Key!</a>
<a href="/" class="btn btn-danger btn-lg">Home</a>

</div>

  </div>
</div>





  </body>
</html>
