.clock-place {
    width: 100%;
    height: 200px;
    margin: 10% auto 5% auto;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.clock-place img {
    display: block;
    margin: auto;
}

.hours {
    font-size: 500%;
}

.minutes {
    font-size: 500%;
}