@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body {
  background: #4250f4;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.temperature{
  display: none;
}

.contan {
  margin: auto;
  width: 50%;
  height: 900px;
  background: #0f53c1;
}

.center {
  color: white;
  font-family: 'Baloo Chettan', cursive;
  font-size: 40px;
}

/* ////////////////////////////////   */
.weather-container {
  position: relative;
  padding-top: 5%;
  margin-left: 32%;
  width: 35%;
  height: 500px;
}

.form-spot {
  position: relative;
  margin: auto;
  padding-top: 7%;
  padding-left: 14%;
}

.form-spot>input {
  text-align: center;
  display: block;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  height: 50px;
  width: 250px;
  color: black;
}

.form-spot>button {
  background:red;
  border:none;
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-left: 8%;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
