@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body {
  background: #4250f4;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.temperature{
  display: none;
}

.contan {
  margin: auto;
  width: 50%;
  height: 900px;
  background: #0f53c1;
}

.center {
  color: white;
  font-family: 'Baloo Chettan', cursive;
  font-size: 40px;
}

/* ////////////////////////////////   */
.weather-container {
  position: relative;
  padding-top: 5%;
  margin-left: 32%;
  width: 35%;
  height: 500px;
}

input[type=text]{
  text-align: center;
  border:none;
  border-radius:10px;
  height:50px;
  font-family: 'Baloo Chettan', cursive;

}

button {
   margin-top:5%;
   background:red;
   border:none;
   border-radius:10px;
   text-align:center;
}

.info {
     margin-top:100%;

}

@media only screen and (max-width:1200px){

   .contan{
     width:70%;
   }
   .weather-container{
     margin-left:32%;
   }
   .center{
     font-size:35px;
   }
   button{
     margin-left:15%;
   }
   .city{
     font-size:20px;
   }
   .temperature{
     font-size:20px;

   }
}


.api{
  font-size:20px;
  color:white;
  font-family: 'Baloo Chettan', cursive;
  text-align: left;
}
